BasedOnStyle: LLVM

BreakBeforeBraces: Custom
BraceWrapping:
  AfterFunction: false
  AfterClass: false
  AfterControlStatement: Never
  AfterEnum: false
  AfterStruct: false
  AfterUnion: false
  AfterNamespace: false
  BeforeElse: false
  BeforeCatch: false
  IndentBraces: false

UseTab: Always
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4

PointerAlignment: Right
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true
  AfterFunctionDefinitionName: false
AllowShortIfStatementsOnASingleLine: Never